
   #lo1{
       text-align: center;
       padding: 3%;
   }
   #lo1 h1{
       text-transform: capitalize;
       font-style: oblique;
   }
   #lo2{
       border: 2px solid black;
       background: transparent;
       width: 25% ;
       text-align: center;
       border-radius: 25px;
       height: 40px;
       
   }
   
   
   
   
   
   
   
   
   
   
   
   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   #body{
       justify-content: center;
       display: flex;
       align-items: center;
       min-height: 100vh;
       background-image:url("D:/i/self driving - Copy/booking/booking/src/pages/car/back 1.jpg");
       background-size:100% 100%;
   }
   .wrapper{
       width: 420px;
       background-color: transparent;
       color: #fff;
       border-radius: 10px;
       padding: 30px 40px;
       border: 2px solid #fff;
       background-image: url("");
       box-shadow: 0 0 10px rgba(69, 19, 193, 0.2);
   }
   .wrapper h1{
       font-size: 36px;
       align-items: center;
   }
   .wrapper .input-box{
       position: relative;
       width: 100%;
       height: 50px;
       margin: 30px 0;
   }
   .input-box input{
       width: 100%;
       height: 100%;
       background: transparent; 
       border: 2px solid #fff;
       border-radius: 40px;
       font-size: 16px;
       color: #fff;
       padding: 20px 45px 20px 20px;
   }
   .input-box input::placeholder{
       color: #fff;
   }
   .input-box .icon{
       position: absolute;
       right: 20px;
       top: 40%;
       transform: translateY(-50%);
       font-size: 16px;
   }
   .wrapper  .remember-forgot{
       display: flex;
       justify-content: space-between;
       font-size: 14.4px;
       margin: -15px 0 15px;
   }
   .remember-forgot label input{
       accent-color:#fff;
       margin-right: 4px;
       color: #fff;
   }
   .remember-forgot label{
       color: #fff;
   }
   .remember-forgot a{
       color: #fff;
       text-decoration: none;
   }
   .remember-forgot a:hover{
       text-decoration: underline;
   }
   .wrapper button{
       width: 100%;
       height: 45px;
       background-color: #fff;
       border-radius: 45px;
       border: none;
       outline: none;
       box-shadow: 0 0 10px rgb(65, 57, 160);
       cursor: pointer;
       font-size: 16px;
       color: blue;
       font-weight: 700;
       position: relative;
       margin: 6px;
       
   }
   .wrapper .register-link {
       font-size: 14.5px;
       text-align: center;
       margin: 20px 0 15px;
   }
   .register-link p a{
       color: #fff;
       text-decoration: none;
       font-weight: 600;
   }
   .register-link p a:hover{
       text-decoration: underline;
       color: red;
   }
   